  <%= stylesheet_link_tag "trees" %>
<p style="color: green"><%= notice %></p>

<div class="container">



<% if user_signed_in?%>

  <%# if current_user.tree.present? %>
  
 <%#= link_to "View my tree", current_user.tree, class: "button-1", target: "_blank" %>
  <%# else %>

  <%= link_to "Create your own Link Tree", new_tree_path, class: "button-1", target: "_blank" %>
  <%# end %>






<% else %>
<%= link_to "Create your own Link Tree",  new_user_registration_path, class:"button-1", target: "_blank"%>

<% end %>

</div>